# Data Science Tools and Ecosystem

In this notebook, I reflect on what I have learnt from this course.

__Objectives:__
- Hands-on with R Programming
- Learn how to use markdown cell in python
- Hands-on with Jupyter notebook

Some of the popular languages tht Data Scientists use are:
1. Python
2. R Programming
3. C++
4. SQL

Some of the commonly used libraries used by Data Scientists include:
1. Tensorflow
2. pandas
3. numpy
4. Matplotlib

| Data Science Tools |
|----------|
MySQL| |PostgreSQL 
| Apache Airflow|3 |

### Below are a few examples of evaluating arithmetic expressions in Python

In [1]:
(3*4)+5
#This is a simple arithmetic expression to mutiply then add integers

17

In [2]:
200/60 #This will convert 200 minutes to hours by dividing by 60

3.3333333333333335

## Author
Name: Chou Yew